<div class="container d-flex flex-column justify-content-between vh-100"
  style="max-height: 100vh; background-color: #fafafa;">
  <div class="header mt-3">
    <h1 class="text-center">Clubhouse</h1>
  </div>

  <div class="content">
    <div class="link my-3 mb-5">
      <% if (isAuth) { %>
        <div class="mx-auto" style="width: 200px;">
          <% if (!isAdmin) { %>
            <div class="text-left">
              <a href="/admin" class="text-decoration-none text-primary font-weight-bold">➤ Become an admin!</a>
            </div>
            <% if (!isMember) { %>
              <div class="text-left">
                <a href="/member" class="text-decoration-none text-primary font-weight-bold">➤ Become a member!</a>
              </div>
              <% } %>
                <% } %>
                  <div class="text-left">
                    <a href="/post-message" class="text-decoration-none text-primary font-weight-bold">➤ Create a
                      post!</a>
                  </div>
        </div>
        <% } else { %>
          <div class="text-center">
            <a href="/log-in" class="text-decoration-none text-primary font-weight-bold">➤ Log In!</a>
          </div>
          <% } %>
    </div>

    <div class="post-list">
      <% message_list.forEach(post=> { %>
        <div class="post card mt-3">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-start">
              <h5 class="card-title">
                <%= post.title %>
              </h5>
              <div>
                <% if (isMember) { %>
                  <h6 class="card-subtitle mb-2 text-muted text-right">
                    <%= post.user.name %>
                  </h6>
                  <% } %>
                    <h6 class="card-subtitle mb-2 text-muted text-right">
                      <%= post.date %>
                    </h6>
              </div>
            </div>
            <p class="card-text">
              <%= post.message %>
            </p>
            <% if (isAdmin) { %>
              <div class="d-flex justify-content-end">
                <form action="/delete-post/<%= post.id %>" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
              <% } %>
          </div>
        </div>
        <% }) %>
    </div>
    <div style="min-height: 90px;"></div>
  </div>